<div class="modal fade" id="dialog" tabindex="-1" role="dialog" aria-labelledby="notes"
     aria-hidden="true" data-bind="dialog: IsAdminDialogOpen">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="click: $root.CloseAdminDialog">
                    &times;
                </button>
                <h4 class="modal-title" id="password">
                    Admin Password
                </h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <h3>Enter admin pasword to Change Attendance</h3>
                    </div>
                    <div class="row">
                        <input type="password" data-bind="value:AdminPassword" />
                    </div>
                    <div class="row"></div>
                    <div class="row">
                        <button class="btn btn-default" type="button" value="Validate" data-bind="click: $root.ValidateAdminPassword">Validate</button>
                        <button class="btn btn-default" type="button" value="Close" data-bind="click: $root.CloseAdminDialog">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


