<div class="modal fade" id="invalidateinvoice" tabindex="-1" role="dialog" aria-labelledby="statusAttendance" aria-hidden="true"
     data-bind="dialog: isOpenInvoice">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="statusAttendance">Invalidate Invoice</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <h6>These are chargeable attendances against this invoice, either change their status or move them to other invoice</h6>
                    <br />

                    <form id="frmchangeattendance">
                        <input type="hidden" data-bind="value:SelectedAttendance().SessionAttendanceId" name="invalidatesessionattendanceid" id="invalidatesessionattendanceid" />
                        <input type="hidden" data-bind="value:SelectedAttendance().RemainingCredits" name="remainingcredits" id="remainingcredits" />
                        <input type="hidden" data-bind="value:SelectedAttendance().Status" name="status" id="status" />
                        <input type="hidden" data-bind="value:SelectedAttendance().InvoiceId" name="invalidateinvoiceid" id="invalidateinvoiceid" />
                        <table class="table table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th>Attendance Details</th>
                                    <th>Status</th>
                                    <th>Charged To</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>

                                    <td data-bind="text: SelectedAttendance().Session"></td>
                                    <td>
                                        <select id="changestatus" name="changestatus" data-bind="options: SelectedAttendance().attendancestatus,
                                           optionsText: 'AttendanceStatus',
                                           optionsValue: 'AttendanceId'"></select>
                                    </td>
                                    <td data-bind="text: SelectedAttendance().ChargedTo">
                                        @*<input type="text" name="txtchargedto" class="disabled" />*@
                                    </td>

                                    <td class="buttons">
                                        @*<a class="btn" href="#" title="newinvoice" id="createnewinvoiceinvalidate">New Invoice</a>*@
                                    </td>
                                </tr>

                            </tbody>

                        </table>
                        @*<div class="row">
                            <div class="col-sm-4"><span>Attendance Details</span></div>
                            <div class="col-sm-3"><span>Status</span></div>
                            <div class="col-sm-3"><span>Charged To</span></div>
                            <div class="col-sm-2"><span></span></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><input type="text" data-bind="value: SelectedAttendance().Session" name="txtsession" /></div>
                            <div class="col-sm-3">
                                <select id="changestatus" name="changestatus" data-bind="options: SelectedAttendance().attendancestatus,
                                           optionsText: 'AttendanceStatus',
                                           optionsValue: 'AttendanceId'"></select>
                            </div>
                            <div class="col-sm-3"><input type="text" name="txtchargedto" class="disabled" /></div>
                            <div class="col-sm-2"><a class="btn" href="#" title="newinvoice" id="createnewinvoiceinvalidate">New Invoice</a></div>
                        </div>*@
                        <div class="row">
                            <div class="col-sm-12">
                                <textarea name="txtCreditNotes" rows="3" cols="60" id="CreditNotes"></textarea>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-3"></div>
                            <div class="col-sm-3"><a class="btn" href="#" title="savenewinvoice" id="invalidateinvoicesave">Invalidate</a></div>
                            <div class="col-sm-2"><a class="btn" href="#" title="cancelchangestatus" data-bind="click: $root.CancelInvalidateInvoiceRef" id="cancelinvalidateinvoice">Cancel</a></div>
                        </div>
                        @*<table class="table table-condensed table-hover">
            <tr>
                <th>Attendance Details</th>
                <th>Status</th>
                <th>Charged To</th>
                <th></th>

            </tr>
            <tr>
                <td data-bind="text:SelectedAttendance().Session"></td>
                <td>
                    <select data-bind="options: SelectedAttendance().attendancestatus,
                           optionsText: 'AttendanceStatus',
                           optionsValue: 'AttendanceId'"></select>
                </td>
                <td></td>
                <td class="buttons">
                    <a class="btn" href="#" title="newinvoice" id="createnewinvoice">
                        New Invoice
                    </a>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td class="buttons">
                    <a class="btn" href="#" title="save" id="savenewinvoice">
                        Save
                    </a>
                </td>
                <td class="buttons">
                    <a class="btn" href="#" title="cancelchangestatus" id="cancelchangestatus">
                        Cancel
                    </a>
                </td>
            </tr>

        </table>*@
                    </form>

                    <br /><br />
                    <p style="text-align: center; font-style: italic; font-size: 10pt"></p>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
