<div class="modal fade" id="dialog" tabindex="-1" role="dialog" aria-labelledby="notes"
     aria-hidden="true" data-bind="dialog: IsCreditNoteValidationDialogOpen" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="results">
                    Results
                </h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row" style="height: 88%">
                        <label>
                            Validation
                        </label>

                        <div class="list-group">
                            <a class="list-group-item" data-bind="click: $root.IsCloseCreditNoteValidation"><span class="glyphicon glyphicon-chevron-right"></span> <span>Fill All Details</span></a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
