

--DELETE FROM [timetable].[SubjectsTaughtAtSession]
--DELETE FROM [timetable].[Session]
--DELETE FROM [timetable].Subject


  BEGIN TRAN

  INSERT INTO [timetable].[Session]
	SELECT CONVERT(VARCHAR(5),getdate(), 108), CONVERT(VARCHAR(5), DATEADD(HOUR,2, CONVERT(time, getdate(), 108)), 108), 1,1,1,1,GETDATE(), GETDATE() 
	UNION ALL
	SELECT CONVERT(VARCHAR(5),getdate(), 108), CONVERT(VARCHAR(5), DATEADD(HOUR,2, CONVERT(time, getdate(), 108)), 108), 2,1,1,1,GETDATE(), GETDATE() 
	UNION ALL
	SELECT CONVERT(VARCHAR(5),getdate(), 108), CONVERT(VARCHAR(5), DATEADD(HOUR,2, CONVERT(time, getdate(), 108)), 108), 3,1,1,1,GETDATE(), GETDATE() 
	UNION ALL
	SELECT CONVERT(VARCHAR(5),getdate(), 108), CONVERT(VARCHAR(5), DATEADD(HOUR,2, CONVERT(time, getdate(), 108)), 108), 4,1,1,1,GETDATE(), GETDATE() 


	INSERT INTO [timetable].Subject
	SELECT 6001, 'Maths', 1,1,GETDATE(),GETDATE()
	UNION ALL
	SELECT 6002, 'Maths', 1,1,GETDATE(),GETDATE()
	UNION ALL
	SELECT  6003, 'Maths', 1,1,GETDATE(),GETDATE()
	UNION ALL
	SELECT 6004 , 'Maths', 1,1,GETDATE(),GETDATE()
	UNION ALL
	SELECT 6005, 'Maths', 1,1,GETDATE(),GETDATE()
	UNION ALL
	SELECT 6006, 'Maths', 1,1,GETDATE(),GETDATE()
	UNION ALL
	SELECT 6007, 'Maths', 1,1,GETDATE(),GETDATE()
	UNION ALL
	SELECT 6008, 'Maths', 1,1,GETDATE(),GETDATE()
	UNION ALL
	SELECT 6009, 'Maths', 1,1,GETDATE(),GETDATE()
	UNION ALL
	SELECT 6010, 'Maths', 1,1,GETDATE(),GETDATE()
	UNION
	SELECT 6001, 'English', 1,1,GETDATE(),GETDATE()
	UNION ALL
	SELECT 6002, 'English', 1,1,GETDATE(),GETDATE()
	UNION ALL
	SELECT  6003, 'English', 1,1,GETDATE(),GETDATE()
	UNION ALL
	SELECT 6004 , 'English', 1,1,GETDATE(),GETDATE()
	UNION ALL
	SELECT 6005, 'English', 1,1,GETDATE(),GETDATE()
	UNION ALL
	SELECT 6006, 'English', 1,1,GETDATE(),GETDATE()
	UNION ALL
	SELECT 6007, 'English', 1,1,GETDATE(),GETDATE()
	UNION ALL
	SELECT 6008, 'English', 1,1,GETDATE(),GETDATE()
	UNION ALL
	SELECT 6009, 'English', 1,1,GETDATE(),GETDATE()
	UNION ALL
	SELECT 6010, 'English', 1,1,GETDATE(),GETDATE()


	

	INSERT INTO [timetable].[SubjectsTaughtAtSession]
	SELECT ss.Id, s.Id, 1,1, GETDATE(), GETDATE() FROM [timetable].[Session] ss, [timetable].[Subject] s


  COMMIT TRAN

