<fieldset class="no-border">
    <legend>Address Details</legend>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Address Line 1</label>
                <input class="form-control" type="text" data-bind="value: $data.AddressLine1" id="addressLine1" name="addressLine1" maxlength="20" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Address Line 2</label>
                <input class="form-control" type="text" data-bind="value: $data.AddressLine2" id="addressLine2" name="addressLine2" maxlength="20" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Post Code</label>
                <input class="form-control" type="text" data-bind="value: $data.PostCode" id="postcode" name="postcode" maxlength="8" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>City</label>
                <input class="form-control" type="text" data-bind="value: $data.City" id="city" name="city" maxlength="10" />
            </div>
        </div>
    </div>
</fieldset>
