<div class="modal fade" id="dialog" tabindex="-1" role="dialog" aria-labelledby="notes"
    aria-hidden="true" data-bind="dialog: $root.ValidateAdminPasswordViewModel.IsAdminDialogOpen">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="click: $root.ValidateAdminPasswordViewModel.CloseAdminDialog">
                    &times;</button>
                <h4 class="modal-title" id="password">
                    Admin Password</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <h3>Please enter admin password</h3>
                    </div>
                    <div class="row">
                        <input type="password" data-bind="value:$root.ValidateAdminPasswordViewModel.AdminPassword, executeOnEnter:$root.ValidateAdminPasswordViewModel.ValidateAdminPassword" />
                    </div>
                    <div class="row"></div>
                    <div class="row">
                        <button class="btn btn-default" type="button" value="Validate" data-bind="click: $root.ValidateAdminPasswordViewModel.ValidateAdminPassword">Validate</button>
                        <button class="btn btn-default" type="button" value="Close" data-bind="click: $root.ValidateAdminPasswordViewModel.CloseAdminDialog">Cancel</button>
                    </div>
                    <div class="row error" data-bind="visible:$root.ValidateAdminPasswordViewModel.showInvalidAdminPasswordMessage">
                        <h5>Incorrect password please try again!</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
