<tr >
    <td>
        <label data-bind="value:StudentNo"></label>
    </td>   
    <td>
        <label data-bind="value:Name"></label>
    </td>
    <td>
        @*<select class="width-300" id="" name="" data-bind="options:paymentPlans,optionsCaption:'--select--', optionsText:'PaymentPlanDisplay',optionsValue:'PaymentPlanId', value:DefaultPaymentPlan">
          </select>*@
    </td>
</tr>